* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

/* Navbar */
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: #585858;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.nav-list{
    display: flex;
    flex-flow: row nowrap;
    padding-right: 10%;
}

.nav-item {
    list-style: none;
    font-style: oblique;
    font-size: 20px;
    padding: 1rem;
}

.nav-item:first-child{
    margin-right: auto;
    padding-left: 2rem;
}
/* //Navbar */

main {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
    border: 2px solid black;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #585858;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

/* Links */
a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #bdbec0;
}

a:active {
    color: darkgray;
}

/* //Links */


/* Gallery */
.container {
    padding: 40px 5%;
  }
  
  .heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .heading-text span {
    font-weight: 100;
  }
  
  ul {
    list-style: none;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-gallery > li {
    flex: 1 1 auto;
    height: 300px;
    cursor: pointer;
    position: relative;
  }
  
  .image-gallery::after {
    content: "";
    flex-grow: 999;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-gallery li:hover .overlay {
    transform: scale(1);
  }
/* //Gallery */