body{
    background-color: #d10000;
    margin: 0px;
    padding: 0px
}

nav{
    margin: 0px;
    background-color: blue;
    height: 5em;
}

h1{
    margin: 0;
    color: hotpink;
    text-align: center;
    padding-top: 1em;
}

h1:hover{
    color: brown;
}

h3{
    background-color: blueviolet;
    color: white;
}

p{
    border: green solid 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6rem;
    font-size: 2rem;
    margin-left: 10rem;
}

ul{
    font-style: italic;
}

li{
    padding-top: 2em;
    list-style: none;
}

.h1-specific{
    background-color: black;
    padding-bottom: 1em;
}

#upper-case{
    text-transform: uppercase;
}

img{
    border: 2px solid hotpink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.orange{
    background-color: orange;
}

.impact{
font-family: Impact;
}

.small{
font-size: smaller;
}

.big{
font-size: larger;
}

.frame{
border: 2px solid;
}

.violet{
border-color: violet;
}