* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
	background-image: url('../media/caspian-dahlstrom-xXbaTOP31M4-unsplash.jpg');
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  position: fixed;
  top: 0px;
  background-color: #B4CEB3;
  z-index: 1;
  width: 100%;
  height: 80px;
}

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 13rem;
}

.nav-item {
  list-style: none;
  font-style: oblique;
  font-size: 1.5em;
  padding: 0.5rem;
}

.nav-item:first-child {
  margin-right: auto;
  padding-left: 2rem;
}

footer {
	display: flex;
	flex-flow: row nowrap;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #B4CEB3;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}

p {
	margin: 12px 0;
	line-height: 1;
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: #546A76;
}

a:active {
	color: #88A0A8;
}

.main-container {
	display: flex;
	flex-direction: row;
	flex-basis: auto;
	width: 90%;
	padding: 40px 10%;
	margin: 50px auto 50px auto;
	display: flex;
}

.error-message {
	position: relative;
	top: 15px;
	left: 350px;
	color: red;
	z-index: 3;
}

/*Form specific CSS*/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical
}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.form-container {
	border-radius: 5px;
	background-color: #f2f2f2;
	width: 30%;
	height: 20%;
	margin: 2rem;
	padding: 20px;
}

.results-container {
	border-radius: 5px;
	background-color: #f2f2f2;
	width: 30%;
	display: flex;
	flex-direction: column;
	margin: 2rem;
	padding: 20px;
}

.searches-container {
	border-radius: 5px;
	background-color: #f2f2f2;
	width: 30%;
	display: flex;
	flex-direction: column;
	margin: 2rem;
	padding: 20px;
}

/*Cookie Banner*/
.cookie-consent-modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	align-items: flex-end;
}

.cookie-consent-modal.active {
	display: flex;
}

.content {
	background-color: #1e1e1e;
	padding: 2em;
	color: white;
	width: 100vw;
}

.btns {
	display: flex;
	justify-content: flex-end;
	margin-top: 2em;
}

.btn {
	background-color: #e50000;
	color: #1e1e1e;
	border: none;
	outline: none;
	padding: .8em 1.5em;
	width: 100px;
	margin-right: 1em;
	border-radius: 3px;
	text-transform: uppercase;
}

.btn.accept {
	background-color: #B4CEB3;
}