* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

/* Navbar */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #585858;
  z-index: 1;
  width: 100%;
  height: 80px;
}

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  padding-right: 10%;
}

.nav-item {
  list-style: none;
  font-style: oblique;
  font-size: 20px;
  padding: 1rem;
}

.nav-item:first-child {
  margin-right: auto;
  padding-left: 2rem;
}

/* //Navbar */

footer {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #585858;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

/* Links */
a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #bdbec0;
}

a:active {
  color: darkgray;
}

/* //Links */


/* Gallery */
.index-container {
  padding: 40px 10%;
  margin: 50px auto 50px auto;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.image-gallery>li {
  flex: 1 1 auto;
  height: 300px;
  cursor: pointer;
  position: relative;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-gallery li:hover .overlay {
  transform: scale(1);
}

/* //Gallery */

/* Project-pages */
.project-container {
  display: flex;
  flex-basis: row nowrap;
  max-height: 75vh;
  margin: 6rem 1rem;
}

.project-mainimage {
  height: 60vh;
  width: 40vw;
}

.project-mainimage>img {
  max-width: 100%;
}

.project-contentwrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 60vw;
  margin: 0rem 1rem;
}

.project-sample-image {
  display: flex;
  flex-flow: row nowrap;
  height: 25vh;
}

.project-sample-image>div>img {
  max-width: 100%;
}

.project-content-text {
  height: 50vh;
  text-align: left;
  padding: 2rem;
  font-size: 1.2vw;
  font-weight: 100;
}

/* // */


/* About Me */
.about-container {
  margin: 6rem 1rem;
  display: flex;
  width: 90vw;
  height: 75vh;
}

.about-container>img {
  display: block;
  float: left;
  margin: 1rem;
}

.about-container>article {
  padding: 1rem 2rem;
  margin-right: 2rem;
}

.about-container>article>p {
  font-size: 1.2vw;
  font-weight: 100;
}

/* // */